<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.mapper.BackRoleAuthoritiesMapper">
    <sql id="tableName">
        sys_back_role_authorities
    </sql>

    <sql id="baseColumn">
        id,org_code,role_id,authority_id,is_delete,create_time,modify_time,create_id,modify_id
    </sql>

</mapper>