<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.mapper.OrganizationMapper">
    <sql id="tableName">
        sys_organization
    </sql>

    <sql id="baseColumn">
        id,org_name,org_code,link_man,phone,address,description,status,remark,is_delete,create_time,modify_time,create_id,modify_id
    </sql>

</mapper>